<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <img style="height: 40px;" src="../../assets/img/logo.png" alt="">
      </ul>
      <!--<ul class="nav nav-pills nav-pills-info">
        <li class="active"><a href="#pill1" data-toggle="tab">Geral</a></li>
        <li><a href="#pill2" data-toggle="tab">Fornecedores</a></li>
        <li><a href="#pill3" data-toggle="tab">Dívidas</a></li>
      </ul>-->
    </div>
  </div>
</nav>
<div class="main-content dashboard" *ngIf="dados">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header" data-background-color="serasa-purple">
            <h4 class="title">Indentificação / Localização</h4>
            <p class="category">Atualizado em 06/04/2017</p>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-2"> CNPJ:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.cnpj}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> Razão Social:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.razaoSocial}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> Tipo de Sociedade:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.tipoSociedade}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> Antecessora:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.antecessoraNome}}</div>
                  <div class="col-md-2"> Até:</div>
                  <div class="col-md-2"> {{dados.dadoscadastrais.data.antecessoraAte}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> Registro:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.registro}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> Data de Registro:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.dataRegistro}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> NIRE:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.nire}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> Inscricao Estadual:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.inscricaoEstadual}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> Endereço:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.endereco}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> Inscricao Estadual:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.inscricaoEstadual}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> Bairro:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.bairro}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> Cidade:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.cidade}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> Telefone:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.telefone}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> CEP:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.cep}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> Fundacao:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.fundacao}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> Filiais:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.filiais}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> Ramo:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.ramo}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> Cod. Atividade Serasa:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.codigoAtividadeSerasa}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> CNAE:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.cnae}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> Opção Tributária:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.opcaoTributaria}}</div>
                </div>
                <div class="row">
                  <div class="col-md-2"> Situação do CNPJ:</div>
                  <div class="col-md-6"> {{dados.dadoscadastrais.data.situacaoCnpj}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="red">
                <h4 class="title">Informações do Concentre - Protesto</h4>
                <p class="category">(Ocorrências mais recentes - Até Cinco)</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th>Data Protesto</th>
                      <th>Valor</th>
                      <th>Cartório</th>
                      <th>Cidade/UF</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>12/11/2016</td>
                      <td class="text-danger">R$ 120,738</td>
                      <td>01</td>
                      <td>Uberlandia/MG</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="red">
                <h4 class="title">Informações do Concentre - Ações Judiciais</h4>
                <p class="category">(Ocorrências mais recentes - Até Cinco)</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th>Data da Ação Judicial</th>
                      <th>Natureza da Ação</th>
                      <th>Avalista</th>
                      <th>Valor</th>
                      <th>Distrito</th>
                      <th>Vara</th>
                      <th>Cidade/UF</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>18/08/2016</td>
                      <td>FISCAL FEDERAL</td>
                      <td></td>
                      <td class="text-danger">R$ 420,738</td>
                      <td>01</td>
                      <td>012</td>
                      <td>Uberlandia/MG</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="red">
                <h4 class="title">Registro de Consulta</h4>
                <p class="category">Cinco Últimas</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th>Data da Consulta</th>
                      <th>CNPJ Consultante</th>
                      <th>Cliente Consultante</th>
                      <th>QTD de Consulta no Dia</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>18/08/2016</td>
                      <td>66.369.892/0004-77</td>
                      <td>ANTONIO DA SILVA BRAGA</td>
                      <td>6</td>
                    </tr>
                    <tr>
                      <td>18/08/2016</td>
                      <td>66.369.892/0004-77</td>
                      <td>ANTONIO DA SILVA BRAGA</td>
                      <td>6</td>
                    </tr>
                    <tr>
                      <td>18/08/2016</td>
                      <td>66.369.892/0004-77</td>
                      <td>ANTONIO DA SILVA BRAGA</td>
                      <td>6</td>
                    </tr>
                    <tr>
                      <td>18/08/2016</td>
                      <td>66.369.892/0004-77</td>
                      <td>ANTONIO DA SILVA BRAGA</td>
                      <td>6</td>
                    </tr>
                    <tr>
                      <td>18/08/2016</td>
                      <td>66.369.892/0004-77</td>
                      <td>ANTONIO DA SILVA BRAGA</td>
                      <td>6</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="serasa-blue">
                <h4 class="title">Pefin</h4>
                <p class="category">(Ocorrências Mais Recentes - Até Cinco)</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th>Data</th>
                      <th>Modalidade</th>
                      <th>Avalista</th>
                      <th>Valor</th>
                      <th>Contrato</th>
                      <th>origem</th>
                      <th>Local</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-intro="Essa dívida já passou de 5 meses">
                      <td>12/12/2016</td>
                      <td>TIT.DESCONTA</td>
                      <td>N</td>
                      <td class="text-danger">R$ 120,738</td>
                      <td>0054154515589</td>
                      <td>Algar Midia</td>
                      <td>ULA</td>
                    </tr>
                    <tr data-intro="Essa dívida já passou de 5 meses">
                      <td>12/12/2016</td>
                      <td>TIT.DESCONTA</td>
                      <td>N</td>
                      <td class="text-danger">R$ 120,738</td>
                      <td>0054154515589</td>
                      <td>Algar Midia</td>
                      <td>ULA</td>
                    </tr>
                    <tr data-intro="Essa dívida já passou de 5 meses">
                      <td>12/12/2016</td>
                      <td>TIT.DESCONTA</td>
                      <td>N</td>
                      <td class="text-danger">R$ 120,738</td>
                      <td>0054154515589</td>
                      <td>Algar Midia</td>
                      <td>ULA</td>
                    </tr>
                    <tr data-intro="Essa dívida já passou de 5 meses">
                      <td>12/12/2016</td>
                      <td>TIT.DESCONTA</td>
                      <td>N</td>
                      <td class="text-danger">R$ 120,738</td>
                      <td>0054154515589</td>
                      <td>Algar Midia</td>
                      <td>ULA</td>
                    </tr>
                    <tr data-intro="Essa dívida já passou de 5 meses">
                      <td>12/12/2016</td>
                      <td>TIT.DESCONTA</td>
                      <td>N</td>
                      <td class="text-danger">R$ 120,738</td>
                      <td>0054154515589</td>
                      <td>Algar Midia</td>
                      <td>ULA</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="serasa-blue">
                <h4 class="title">Refin</h4>
                <p class="category">(Ocorrências Mais Recentes - Até Cinco)</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Data</th>
                      <th>Modalidade</th>
                      <th>Avalista</th>
                      <th>Valor</th>
                      <th>Contrato</th>
                      <th>origem</th>
                      <th>Local</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>12/12/2016</td>
                      <td>TIT.DESCONTA</td>
                      <td>N</td>
                      <td class="text-danger">R$ 360,738</td>
                      <td>0054154515589</td>
                      <td>Algar Midia</td>
                      <td>ULA</td>
                    </tr>
                    <tr>
                      <td>12/12/2016</td>
                      <td>TIT.DESCONTA</td>
                      <td>N</td>
                      <td class="text-danger">R$ 360,738</td>
                      <td>0054154515589</td>
                      <td>Algar Midia</td>
                      <td>ULA</td>
                    </tr>
                    <tr>
                      <td>12/12/2016</td>
                      <td>TIT.DESCONTA</td>
                      <td>N</td>
                      <td class="text-danger">R$ 360,738</td>
                      <td>0054154515589</td>
                      <td>Algar Midia</td>
                      <td>ULA</td>
                    </tr>
                    <tr>
                      <td>12/12/2016</td>
                      <td>TIT.DESCONTA</td>
                      <td>N</td>
                      <td class="text-danger">R$ 360,738</td>
                      <td>0054154515589</td>
                      <td>Algar Midia</td>
                      <td>ULA</td>
                    </tr>
                    <tr>
                      <td>12/12/2016</td>
                      <td>TIT.DESCONTA</td>
                      <td>N</td>
                      <td class="text-danger">R$ 360,738</td>
                      <td>0054154515589</td>
                      <td>Algar Midia</td>
                      <td>ULA</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="red">
                <h4 class="title">Informações do Recheque</h4>
                <p class="category">Cheque Extraviados/Sustados</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <tr style="text-align: center">
                    <td>=== NADA CONSTA PARA O CNPJ CONSULTADO ===</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="red">
                <h4 class="title">Registro de Consulta</h4>
                <p class="category">Ano - 2016</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th>Jan</th>
                      <th>Fev</th>
                      <th>Mar</th>
                      <th>Abr</th>
                      <th>Mai</th>
                      <th>Jun</th>
                      <th>Jul</th>
                      <th>Ago</th>
                      <th>Set</th>
                      <th>Out</th>
                      <th>Nov</th>
                      <th>Dez</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>2</th>
                      <th>5</th>
                      <th>3</th>
                      <th>1</th>
                      <th>6</th>
                      <th>4</th>
                      <th>3</th>
                      <th>2</th>
                      <th>6</th>
                      <th>4</th>
                      <th>3</th>
                      <th>6</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="red">
                <h4 class="title">Histórico de Pagamentos</h4>
                <p class="category">Quantidade de Títulos</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th>Pontual</th>
                      <th>8-15</th>
                      <th>16-30</th>
                      <th>31-60</th>
                      <th>+60</th>
                      <th>Á Vista</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>81 | 81%</th>
                      <th>4 | 4%</th>
                      <th>5 | 5%</th>
                      <th>30 | 30%</th>
                      <th>10 | 10%</th>
                      <th>60 | 61%</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="red">
                <h4 class="title">Compromissos Parcelados Em Andamento</h4>
                <i class="material-icons pull-right" (click)="expandTableCompromissoEmAndamento()">add</i>
                <p class="category">Valores em Reais</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th></th>
                      <th></th>
                      <th>Em Aberto</th>
                      <th></th>
                      <th>A Vencer</th>
                      <th></th>
                      <th>Total</th>
                    </tr>
                    <tr>
                      <th>Instruções</th>
                      <th>Contratos</th>
                      <th>Valor</th>
                      <th>%</th>
                      <th>Valor</th>
                      <th>%</th>
                      <th>Valor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>5</th>
                      <th>46</th>
                      <th>R$ 0</th>
                      <th>0</th>
                      <th>R$ 45.679,55</th>
                      <th>100</th>
                      <th>R$ 45.679,55</th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="openCompromissoEmAndamento">
                <div class="card-header" ng-show="false" data-background-color="red">
                  <h4 class="title">Compromissos Parcelados Em Andamento - Por Data</h4>
                  <p class="category">Valores em Reais</p>
                </div>
                <div class="card-content table-responsive">
                  <table class="table">
                    <thead class="text-danger">
                      <tr>
                        <th>Data</th>
                        <th>Em Aberto</th>
                        <th>A Vencer</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Set/16</th>
                        <th>0</th>
                        <th>R$ 23.256,23</th>
                      </tr>
                      <tr>
                        <th>Ago/16</th>
                        <th>0</th>
                        <th>R$ 9.256,23</th>
                      </tr>
                      <tr>
                        <th>Jul/16</th>
                        <th>0</th>
                        <th>R$ 11.256,23</th>
                      </tr>
                      <tr>
                        <th>Jun/16</th>
                        <th>0</th>
                        <th>R$ 19.256,23</th>
                      </tr>
                      <tr>
                        <th>Mai/16</th>
                        <th>0</th>
                        <th>R$ 26.256,23</th>
                      </tr>
                      <tr>
                        <th>Abr/16</th>
                        <th>0</th>
                        <th>R$ 5.256,23</th>
                      </tr>
                      <tr>
                        <th>Mar/16</th>
                        <th>0</th>
                        <th>R$ 9.256,23</th>
                      </tr>
                      <tr>
                        <th>Fev/16</th>
                        <th>0</th>
                        <th>R$ 28.256,23</th>
                      </tr>
                      <tr>
                        <th>Jan/16</th>
                        <th>0</th>
                        <th>R$ 8.256,23</th>
                      </tr>
                      <tr>
                        <th>Dez/15</th>
                        <th>0</th>
                        <th>R$ 26.256,23</th>
                      </tr>
                      <tr>
                        <th>Nov/15</th>
                        <th>0</th>
                        <th>R$ 14.256,23</th>
                      </tr>
                      <tr>
                        <th>Out/15</th>
                        <th>0</th>
                        <th>R$ 19.256,23</th>
                      </tr>
                      <tr>
                        <th>Dez/15</th>
                        <th>0</th>
                        <th>R$ 1.256,23</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="red">
                <h4 class="title">Compromissos Parcelados Pagos</h4>
                <i class="material-icons pull-right" (click)="expandTableCompromissoPagos()">add</i>
                <p class="category">Valores em Reais</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th></th>
                      <th></th>
                      <th>Total</th>
                      <th>P.M.A</th>
                      <th></th>
                      <th>Maior Atraso</th>
                    </tr>
                    <tr>
                      <th>Instruções</th>
                      <th>Contratos</th>
                      <th>Valor</th>
                      <th>Dias</th>
                      <th>Valor</th>
                      <th>Dias</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>5</th>
                      <th>46</th>
                      <th>R$ 0</th>
                      <th>0</th>
                      <th>R$ 45.679,55</th>
                      <th>100</th>
                      <th>28</th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="openCompromissoPagos">
                <div class="card-header" ng-show="false" data-background-color="red">
                  <h4 class="title">Compromissos Parcelados Pagos - Por Data</h4>
                  <p class="category">Valores em Reais</p>
                </div>
                <div class="card-content table-responsive">
                  <table class="table">
                    <thead class="text-danger">
                      <tr>
                        <th>Data</th>
                        <th>Em Aberto</th>
                        <th>A Vencer</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Set/16</th>
                        <th>0</th>
                        <th>R$ 23.256,23</th>
                      </tr>
                      <tr>
                        <th>Ago/16</th>
                        <th>0</th>
                        <th>R$ 9.256,23</th>
                      </tr>
                      <tr>
                        <th>Jul/16</th>
                        <th>0</th>
                        <th>R$ 11.256,23</th>
                      </tr>
                      <tr>
                        <th>Jun/16</th>
                        <th>0</th>
                        <th>R$ 19.256,23</th>
                      </tr>
                      <tr>
                        <th>Mai/16</th>
                        <th>0</th>
                        <th>R$ 26.256,23</th>
                      </tr>
                      <tr>
                        <th>Abr/16</th>
                        <th>0</th>
                        <th>R$ 5.256,23</th>
                      </tr>
                      <tr>
                        <th>Mar/16</th>
                        <th>0</th>
                        <th>R$ 9.256,23</th>
                      </tr>
                      <tr>
                        <th>Fev/16</th>
                        <th>0</th>
                        <th>R$ 28.256,23</th>
                      </tr>
                      <tr>
                        <th>Jan/16</th>
                        <th>0</th>
                        <th>R$ 8.256,23</th>
                      </tr>
                      <tr>
                        <th>Dez/15</th>
                        <th>0</th>
                        <th>R$ 26.256,23</th>
                      </tr>
                      <tr>
                        <th>Nov/15</th>
                        <th>0</th>
                        <th>R$ 14.256,23</th>
                      </tr>
                      <tr>
                        <th>Out/15</th>
                        <th>0</th>
                        <th>R$ 19.256,23</th>
                      </tr>
                      <tr>
                        <th>Dez/15</th>
                        <th>0</th>
                        <th>R$ 1.256,23</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <img id="assistente" src="assets/img/photo.png" (click)="onAssistenteClick()" />
    </div>
