<nav class="navbar navbar-default">
  <div class="container-fluid">
    <img class="pull-left" style="height: 40px;" src="../../assets/img/logo.png" alt="">
    <a class="navbar-brand" href="#">Relato Express</a>
  </div>
</nav>
<div class="main-content dashboard" *ngIf="dados">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="serasa-purple">
            <h4 class="title">Indentificação / Localização</h4>
            <p class="category">Atualizado em 06/04/2017</p>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-2"><strong>Razão Social:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.razaoSocial}}</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4"><strong>CNPJ:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.cnpj}}</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4"><strong>Situação do CNPJ:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.situacaoCnpj}}</div>
                </div>
              </div>
            </div>

            <hr/>

            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4"><strong>Tipo de Sociedade:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.tipoSociedade}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Antecessora:</strong></div>
                  <div class="col-md-4"> {{dados.dadoscadastrais.data.antecessoraNome}}</div>
                  <div class="col-md-2"><strong>Até:</strong></div>
                  <div class="col-md-2"> {{dados.dadoscadastrais.data.antecessoraAte}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Registro:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.registro}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Data de Registro:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.dataRegistro}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>NIRE:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.nire}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Inscricao Estadual:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.inscricaoEstadual}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Cod. Atividade Serasa:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.codigoAtividadeSerasa}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>CNAE:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.cnae}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Opção Tributária:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.opcaoTributaria}}</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4"><strong>Endereço:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.endereco}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Inscricao Estadual:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.inscricaoEstadual}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Bairro:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.bairro}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Cidade:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.cidade}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Telefone:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.telefone}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>CEP:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.cep}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Fundacao:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.fundacao}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Filiais:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.filiais}}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Ramo:</strong></div>
                  <div class="col-md-8"> {{dados.dadoscadastrais.data.ramo}}</div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="serasa-blue">
                <h4 class="title">Compromissos Rotativos</h4>
                <p class="category">Valores em Reais</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th>Saldo Utilizado</th>
                      <th></th>
                    </tr>
                    <tr>
                      <th>Instruções</th>
                      <th>Contratos</th>
                      <th>Média Mensal</th>
                      <th>Maior Mensal</th>
                      <th>Mais Recente</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>3</th>
                      <th>4</th>
                      <th>R$ 158.26</th>
                      <th>R$ 322.22</th>
                      <th>R$ 222.36</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-chart" data-background-color="serasa-blue">
                <canvas baseChart [datasets]="dados.compromissosRotativosGrafico.dados" [labels]="dados.compromissosRotativosGrafico.labels" [options]="dados.compromissosRotativosGrafico.options" [colors]="dados.compromissosRotativosGrafico.colors" [legend]="true" [chartType]="dados.compromissosRotativosGrafico.type"></canvas>
              </div>
              <div class="card-content">
                <h4 class="title">Histórico de Compromissos Rotativos</h4>
                <p class="category">(Valores em Reais)</p>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="serasa-blue">
                <h4 class="title">Cartão de Crédito - Resumo</h4>
                <p class="category">Valores em Reais</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th>Instruções</th>
                      <th>Contratos</th>
                      <th>Valor</th>
                      <th>No Mês</th>
                      <th>Média Mensal</th>
                      <th>% Médio de Pagamentos das Faturas</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>2</th>
                      <th>4</th>
                      <th>A Pagar</th>
                      <th>R$ 633.33</th>
                      <th>R$ 800.00</th>
                      <th>R$ 99.00</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-chart" data-background-color="serasa-blue">
                <canvas baseChart [datasets]="dados.cartaoCreditoGrafico.dados" [labels]="dados.cartaoCreditoGrafico.labels" [options]="dados.cartaoCreditoGrafico.options" [colors]="dados.cartaoCreditoGrafico.colors" [legend]="true" [chartType]="dados.cartaoCreditoGrafico.type"></canvas>
              </div>
              <div class="card-content">
                <h4 class="title">Histórico de Cartão de Crédito</h4>
                <p class="category">(Valores em Reais)</p>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="serasa-blue">
                <h4 class="title">Compromissos Parcelados Pagos</h4>
                <p class="category">Valores em Reais</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th></th>
                      <th></th>
                      <th>Total</th>
                      <th>P.M.A</th>
                      <th></th>
                      <th>Maior Atraso</th>
                    </tr>
                    <tr>
                      <th>Instruções</th>
                      <th>Contratos</th>
                      <th>Valor</th>
                      <th>Dias</th>
                      <th>Valor</th>
                      <th>Dias</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>{{dados.compromissosResumoParceladoAndamento.intrucoes}}</th>
                      <th>{{dados.compromissosResumoParceladoAndamento.contrato}}</th>
                      <th>R$ {{dados.compromissosResumoParceladoAndamento.valor}}</th>
                      <th>{{dados.compromissosResumoParceladoAndamento.dias}}</th>
                      <th>R$ {{dados.compromissosResumoParceladoAndamento.valor2}}</th>
                      <th>{{dados.compromissosResumoParceladoAndamento.dias2}}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-chart" data-background-color="serasa-blue">
                <canvas baseChart [datasets]="dados.compromissosParceladosPagosGrafico.dados" [labels]="dados.compromissosParceladosPagosGrafico.labels" [options]="dados.compromissosParceladosPagosGrafico.options" [colors]="dados.compromissosParceladosPagosGrafico.colors"
                  [legend]="true" [chartType]="dados.compromissosParceladosPagosGrafico.type"></canvas>
              </div>
              <div class="card-content">
                <h4 class="title">Compromissos Parcelados Pagos por Data</h4>
                <p class="category">(Valores em Reais)</p>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="serasa-blue">
                <h4 class="title">Detalhes dos 10 Maiores Compromissos Financeiros Parcelados</h4>
                <p class="category">Valores em Reais</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Modalidade</th>
                      <th>Data de Contratação</th>
                      <th>Último</th>
                      <th>Pré-Fixado</th>
                      <th>QTD</th>
                      <th>Total</th>
                      <th>Pagas</th>
                      <th>A Vencer</th>
                      <th>Em Aberto</th>
                      <th>Última Atualização</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let r of dados.parcelados">
                      <td>{{r.modalidade}}</td>
                      <td>{{r.dataContratacao}}</td>
                      <td>{{r.ultimoVencimento}}</td>
                      <td>{{r.preFixado}}</td>
                      <td>{{r.qtd}}</td>
                      <td class="text-danger">R$ {{r.total}}</td>
                      <td>{{r.pagas}}</td>
                      <td>{{r.avencer}}</td>
                      <td>{{r.emAberto}}</td>
                      <td>{{r.ultimaAtualizacao}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="red">
                <h4 class="title">Informações do Concentre - Ações Judiciais</h4>
                <p class="category">(Ocorrências mais recentes - Até Cinco)</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th>Data da Ação Judicial</th>
                      <th>Natureza da Ação</th>
                      <th>Avalista</th>
                      <th>Valor</th>
                      <th>Distrito</th>
                      <th>Vara</th>
                      <th>Cidade/UF</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let informacaojudicial of dados.informacoesconcentrejudicial">
                      <td>{{informacaojudicial.dataAcaoJudicial}}</td>
                      <td>{{informacaojudicial.naturezaAcao}}</td>
                      <td>{{informacaojudicial.avalista}}</td>
                      <td class="text-danger">R$ {{informacaojudicial.valor}}</td>
                      <td>{{informacaojudicial.distrito}}</td>
                      <td>{{informacaojudicial.vara}}</td>
                      <td>{{informacaojudicial.cidade}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="red">
                <h4 class="title">Informações do Concentre - Protesto</h4>
                <p class="category">(Ocorrências mais recentes - Até Cinco)</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th>Data Protesto</th>
                      <th>Valor</th>
                      <th>Cartório</th>
                      <th>Cidade/UF</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let informacao of dados.informacoesconcentreprotesto">
                      <td>{{informacao.dataProtesto}}</td>
                      <td class="text-danger">R$ {{informacao.dataProtesto}}</td>
                      <td>{{informacao.cartorio}}</td>
                      <td>{{informacao.cidade}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="red">
                <h4 class="title">Informações do Recheque</h4>
                <p class="category">Cheque Extraviados/Sustados</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <tr style="text-align: center">
                    <td>=== NADA CONSTA PARA O CNPJ CONSULTADO ===</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="serasa-blue">
                <h4 class="title">Histórico de Pagamentos</h4>
                <p class="category">Quantidade de Títulos</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th>Pontual</th>
                      <th>8-15</th>
                      <th>16-30</th>
                      <th>31-60</th>
                      <th>+60</th>
                      <th>Á Vista</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>{{dados.historicopagamentos.pontual}}</th>
                      <th>{{dados.historicopagamentos.oitoquinze}}</th>
                      <th>{{dados.historicopagamentos.dezesseistrinta}}</th>
                      <th>{{dados.historicopagamentos.trintaeumsessenta}}</th>
                      <th>{{dados.historicopagamentos.maissessentaa}}</th>
                      <th>{{dados.historicopagamentos.avista}}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-chart" data-background-color="serasa-blue">
                <canvas baseChart [datasets]="dados.historicoPagamentosGrafico.dados" [labels]="dados.historicoPagamentosGrafico.labels" [options]="dados.historicoPagamentosGrafico.options" [colors]="dados.historicoPagamentosGrafico.colors" [legend]="true" [chartType]="dados.historicoPagamentosGrafico.type"></canvas>
              </div>
              <div class="card-content">
                <h4 class="title">Histórico de Pagamentos no Mercado</h4>
                <p class="category">(Valores em Reais)</p>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="serasa-blue">
                <h4 class="title">Compromissos Parcelados Em Andamento</h4>
                <p class="category">Valores em Reais</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th></th>
                      <th></th>
                      <th>Em Aberto</th>
                      <th></th>
                      <th>A Vencer</th>
                      <th></th>
                      <th>Total</th>
                    </tr>
                    <tr>
                      <th>Instruções</th>
                      <th>Contratos</th>
                      <th>Valor</th>
                      <th>%</th>
                      <th>Valor</th>
                      <th>%</th>
                      <th>Valor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>{{dados.compromissosResumoParceladoAndamento.intrucoes}}</th>
                      <th>{{dados.compromissosResumoParceladoAndamento.contrato}}</th>
                      <th>R$ {{dados.compromissosResumoParceladoAndamento.valor}}</th>
                      <th>{{dados.compromissosResumoParceladoAndamento.porcentagem}}</th>
                      <th>R$ {{dados.compromissosResumoParceladoAndamento.valor2}}</th>
                      <th>{{dados.compromissosResumoParceladoAndamento.porcentagem2}}</th>
                      <th>R$ {{dados.compromissosResumoParceladoAndamento.valor3}}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card" data-intro="Parece que o cliente está com uma tendência de compromissos em aberto">
              <div class="card-header card-chart" data-background-color="serasa-blue">
                <canvas baseChart [datasets]="dados.compromissosParceladosAndamentoGrafico.dados" [labels]="dados.compromissosParceladosAndamentoGrafico.labels" [options]="dados.compromissosParceladosAndamentoGrafico.options" [colors]="dados.compromissosParceladosAndamentoGrafico.colors"
                  [legend]="true" [chartType]="dados.compromissosParceladosAndamentoGrafico.type"></canvas>
              </div>
              <div class="card-content">
                <h4 class="title">Compromissos Parcelados em Andamento</h4>
                <p class="category">(Valores em Reais)</p>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-chart" data-background-color="serasa-blue">
                <canvas baseChart [datasets]="dados.evolucaoCompromissosGrafico.dados" [labels]="dados.evolucaoCompromissosGrafico.labels" [options]="dados.evolucaoCompromissosGrafico.options" [colors]="dados.evolucaoCompromissosGrafico.colors" [legend]="true" [chartType]="dados.evolucaoCompromissosGrafico.type"></canvas>
              </div>
              <div class="card-content">
                <h4 class="title">Evolução de Compromissos no Mercado</h4>
                <p class="category">(Valores em Reais)</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="serasa-blue">
                <h4 class="title">Detalhes dos 10 Maiores Compromissos Financeiros Parcelados</h4>
                <p class="category">Valores em Reais</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Modalidade</th>
                      <th>Data de Contratação</th>
                      <th>Último</th>
                      <th>Pré-Fixado</th>
                      <th>QTD</th>
                      <th>Total</th>
                      <th>Pagas</th>
                      <th>A Vencer</th>
                      <th>Em Aberto</th>
                      <th>Última Atualização</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let r of dados.parcelados">
                      <td>{{r.modalidade}}</td>
                      <td>{{r.dataContratacao}}</td>
                      <td>{{r.ultimoVencimento}}</td>
                      <td>{{r.preFixado}}</td>
                      <td>{{r.qtd}}</td>
                      <td class="text-danger">R$ {{r.total}}</td>
                      <td>{{r.pagas}}</td>
                      <td>{{r.avencer}}</td>
                      <td>{{r.emAberto}}</td>
                      <td>{{r.ultimaAtualizacao}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="red">
                <h4 class="title">Pefin</h4>
                <p class="category">(Ocorrências Mais Recentes - Até Cinco)</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th>Data</th>
                      <th>Modalidade</th>
                      <th>Avalista</th>
                      <th>Valor</th>
                      <th>Contrato</th>
                      <th>origem</th>
                      <th>Local</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let p of dados.pefin" data-intro="Essa dívida já passou de 5 meses">
                      <td>{{p.data}}</td>
                      <td>{{p.modalidade}}</td>
                      <td>{{p.avalista}}</td>
                      <td class="text-danger">R$ {{p.valor}}</td>
                      <td>{{p.contrato}}</td>
                      <td>{{p.origem}}</td>
                      <td>{{p.local}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="red">
                <h4 class="title">Refin</h4>
                <p class="category">(Ocorrências Mais Recentes - Até Cinco)</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Data</th>
                      <th>Modalidade</th>
                      <th>Avalista</th>
                      <th>Valor</th>
                      <th>Contrato</th>
                      <th>origem</th>
                      <th>Local</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let r of dados.refin">
                      <td>{{r.data}}</td>
                      <td>{{r.modalidade}}</td>
                      <td>{{r.avalista}}</td>
                      <td class="text-danger">R$ {{r.valor}}</td>
                      <td>{{r.contrato}}</td>
                      <td>{{r.origem}}</td>
                      <td>{{r.local}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="red">
                <h4 class="title">Referenciais de Negócios no Mercado</h4>
                <p class="category">Valores em Reais</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th>Descrição</th>
                      <th>Data</th>
                      <th>Valor</th>
                      <th>Média</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let negocio of dados.referenciasNegocios">
                      <td>{{negocio.descricao}}</td>
                      <td>{{negocio.data}}</td>
                      <td>R$ {{negocio.valor}}</td>
                      <td>{{negocio.media}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-chart" data-background-color="red">
                <canvas baseChart [datasets]="dados.evolucaoCompromissosGrafico.dados" [labels]="dados.evolucaoCompromissosGrafico.labels" [options]="dados.evolucaoCompromissosGrafico.options" [colors]="dados.evolucaoCompromissosGrafico.colors" [legend]="true" [chartType]="dados.evolucaoCompromissosGrafico.type"></canvas>
              </div>
              <div class="card-content">
                <h4 class="title">Evolução de Compromissos no Mercado</h4>
                <p class="category">(Valores em Reais)</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="red">
                <h4 class="title">Registro de Consulta</h4>
                <p class="category">Cinco Últimas</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th>Data da Consulta</th>
                      <th>CNPJ Consultante</th>
                      <th>Cliente Consultante</th>
                      <th>QTD de Consulta no Dia</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let registro of dados.registroConsultaCincoUltimas">
                      <td>{{registro.dataConsulta}}</td>
                      <td>{{registro.cnpjConsultante}}</td>
                      <td>{{registro.clienteConsultante}}</td>
                      <td>{{registro.quantidadeConsutaDia}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="red">
                <h4 class="title">Controle Societário</h4>
                <p class="category">Atualização em 03/01/2017</p>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th>Capital Social</th>
                      <th>Realizado</th>
                      <th>Origem</th>
                      <th>Controle</th>
                      <th>Natureza</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>130.000,00</td>
                      <td>130.000,00</td>
                      <td>BRASIL</td>
                      <td>PRIVADO</td>
                      <td>FECHADO</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-header" data-background-color="gray">
                <h4 class="title">Detalhe</h4>
              </div>
              <div class="card-content table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <tr>
                      <th>CPF/CNPJ</th>
                      <th>Sócio/Acionista</th>
                      <th>Entrada</th>
                      <th>Nacionalidade</th>
                      <th>Votante</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>048.932.158-95</td>
                      <td>CARLOS ALBERTO SILVA</td>
                      <td>23/03/2014s</td>
                      <td>BRASIL</td>
                      <td>0,00</td>
                      <td>50,00</td>
                    </tr>
                    <tr>
                      <td>068.902.758-66</td>
                      <td>LUCAS SIMAS OLIVEIRA</td>
                      <td>11/02/2015</td>
                      <td>BRASIL</td>
                      <td>0,00</td>
                      <td>70,00</td>
                    </tr>
                    <tr *ngFor="let societario of dados.controlesocietario">
                      <td>{{societario.cpfcnpj}}</td>
                      <td>{{societario.socio}}</td>
                      <td>{{societario.entrada}}</td>
                      <td>{{societario.nacionalidade}}</td>
                      <td>{{societario.votante}}</td>
                      <td>{{societario.total}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <img id="assistente" src="assets/img/photo.png" (click)="onAssistenteClick()" />
</div>
